<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name=description content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Beer App</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
<!-- Navbar -->
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper amber darken-1">
                    <a href="/" class="brand-logo right"><img src="../public/img/transbeerio.png" alt="Logo" id="logo"></a>
                    <!-- Activates Mobile Menu -->
                    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="left hide-on-med-and-down">
                        <li><a href="/login">Register</a></li>
                        <li><a href="/main">Beer List</a></li>
                        <li><a href="/submissions">Rank Beer</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Mobile Menu Content -->
        <ul id="mobile-menu" class="side-nav">
            <li>
                <div class="userView">
                    <div class="background">
                        <img src="../public/img/beer-1.jpg" id="mobile-background">
                    </div>
                </div>
            </li>
            <li><a href="/login"><i class="material-icons">account_circle</i>Register</a></li>
            <li><a href="/main"><i class="material-icons">local_drink</i>Beer List</a></li>
            <li><a href="/submissions"><i class="material-icons">list</i>Rank Beer</a></li>
        </ul>
    </header>

    {{{body}}}

    <div class="space">
    </div>

    <footer class="page-footer amber darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">BeerIo</h5>
                    <p class="grey-text text-lighten-4">This website was developed by the hard working, yound adults at the University of Central Florida Coding Bootcamp. Please like it.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Register</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Beer List</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Rank Beer</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright
            </div>
        </div>
    </footer>
<!-- Custom Script -->
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="../public/js/app.js"></script>

</body>

</html>