<h1 class="center">Beers</h1>
<table class="container centered bordered">
    <thead>
      <tr>
          <th>Beer ID</th>
          <th>Beer Name</th>
          <th>ABV</th>
      </tr>
    </thead>

    <tbody>
    {{#each Beer}}
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{abv}}</td>
      </tr>
    {{/each}}
    </tbody>
</table>
